html {
  --primary-100: #e74c3c;
  --primary-100-dark: #c0392b;
  --primary-100-50: #e74c3c23;
  --primary-200: #ff6f61;
  --primary-200-50: #ff6f6185;
  --primary-300: #ffd6d0;
  --accent-100: #ff7b7b;
  --accent-200: #b33a3a;
  --accent-300: #992222;
  --text-100: #2c2c2cd5;
  --text-200: #3d3d3d;
  --text-300: #3d3d3dc5;
  --text-400: #4d4d4dc5;
  --bg-100: #ffffff;
  --bg-200: #f5f5f5;
  --bg-200-dark: #e4e3e3;
  --bg-250: #f3f3f3;
  --bg-200-light: #e4e4e4;
  --bg-300: #cccccc;
  --bg-400: #b4b4b4;
}

html.dark {
  --primary-100: #ff5a4c;
  --primary-100-dark: #e04738;
  --primary-100-50: #ff5a4c20;
  --primary-200: #ff8678;
  --primary-200-50: #ff867880;
  --primary-300: #ffd2cc;

  --accent-100: #ff8a8a;
  --accent-200: #b34444;
  --accent-300: #992f2f;

  --text-100: #eeeeeecc;
  --text-200: #d0d0d0;
  --text-300: #bbbbbbcc;
  --text-400: #999999aa;

  --bg-100: #181818;
  --bg-200: #1f1f1f;
  --bg-200-dark: #121212;
  --bg-200-light: #2b2b2b75;
  --bg-250: #272727;
  --bg-300: #2e2e2e;
  --bg-400: #444444;
}
